body{
    background: #c2c2d6;
}

#calculator{
  width:300px;
  margin: auto;
  margin-top: 15vh;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

#display{
  width: 100%;
  text-align: right;

  background: black;
  color: orange;
  font-family: digital;
  font-size: 20px;
}

#buttons{
  width: 300px;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}

#buttons button{
    height: 65px;
}

.big-button button{
    width: 50%;
    margin-right:-5px;
}

.number{
    background: #4d4d4d;
    color: white;
    height: 100%;
}

.operation{
    background: #666666;
    color: white;
}

#equals{
    background: #004466;
    color: white;
}

#clear{
   background: #ac3939;
   color: white; 
}


